Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.+) - [PT,L]
  RewriteRule ^$ pages/index.php [QSA,L]
  RewriteRule ^(.*) pages/index.php?page=$1 [QSA,L]
  RewriteRule ^inventory/(.*)$ index.php?inventory&location=$1 [QSA,L]
</IfModule>